#tags
  margin: 20px 0px 20px 0px

  span.tag
    margin: 5px
    padding: 5px

    background-color: #ecf0f1
    color: #161616

    border: 1px solid #7f8c8d

    cursor: pointer

    user-select: none

  span.tag:before
    color: #2ecc71

    content: '[['

  span.tag:after
    color: #2ecc71

    content: ']]'
